@import url(https://db.onlinewebfonts.com/c/58dac32d63e934bab07542927c7e9941?family=Andalus+V4);

@font-face {
    font-family: heverlyregular-0vdqr;
    src: url(./assets//heverlyregular-0vdqr.ttf);
}

@font-face {
    font-family: Griffin Demo;
    src: url(./assets/Griffin\ Demo.ttf);
}

body {
    overflow-x: hidden;
}

.parentDiv {
    display: flex;
    justify-content: center;
}

nav {
    color: #C4A070;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-family: "Andalus V4";
    margin-top: 1.5%;
    padding-bottom: 20px;
    user-select: none;
}

.leftTexts {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    font-size: 16px;
    color: white;
    transition: opacity 1.3s ease;
    text-decoration: none
}



.leftTexts {
    cursor: pointer;
}

.leftTexts:hover {
    color: #e7bc85;
}


.logo>img {
    width: 20%;
    display: flex;
    justify-content: center;
}

.registerBtnDiv {
    background-color: black;
    border: 2px solid #C4A070;
    font-size: 16px;
    border-radius: 30px;
    padding: 8px 30px;
    color: #C4A070;
    font-family: "Andalus V4";
    transition: background-color 1.0s ease, color 0.3s ease;
}

.registerBtnDiv:hover {
    background-color: #C4A070;
    color: white;
}

/* PARALLAX */
.heroHeader {
    font-size: 180px;
    font-family: heverlyregular-0vdqr;
    margin-top: 70px;
}


.flex {
    text-align: center;
}

.flex::-webkit-scrollbar {
    display: none;
}

.watchHero {
    position: relative;
    top: 10px;
    animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.featuringSetion>h1 {
    font-size: 120px;
    font-family: heverlyregular-0vdqr;
    color: #C4A070;
    height: 25px;
    margin-bottom: 100px;
}

.featuringSetion {
    margin-top: 20%;
}

.featuringPara>p {
    text-align: center;
    font-size: 27px;
    width: 90%;
}



.featuringPara {
    display: flex;

    justify-content: center;
    line-height: 300%
}

.blackDiv {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.loginBg {
    background-image: url("https://i.ibb.co/tmZK0f1/richard-mille-rm-35-02-automatic-rafael-nadal-8934.webp");
    width: 100%;
    height: 90vh;
    background-size: cover;
    font-family: heverlyregular-0vdqr;

}

.credentials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80vh;
    justify-content: center;
    margin-right: 10%;
}

.credentials>div>h1 {
    text-align: center;
    font-size: 60px;
    color: #e7bc85;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBtn {
    background-color: black;
    border: 1px solid #C4A070;
    padding: 25% 55%;
    margin-top: 12px;
    color: #C4A070;
    border-radius: 18px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.formBtn:hover {
    background-color: #C4A070;
    color: black;
}

.ptagRegister {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30%;
    width: 100%;
    font-family: griffin demo;
    font-weight: 100;
    color: #e7bc85;
}

.loginInputs {
    margin-top: 12px;
    width: 150%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border: none;
    color: #C4A070;
}

.loginInputs:focus {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #C4A070;
}

/* card posts */
.parentCard {
    padding-bottom: 300px;
}

.postImgCard {
    width: 405px;
    object-fit: cover;
    height: 350px;
    border-radius: 10px 10px 0px 0px;

}

.CardTitleDiv {
    display: flex;
    align-items: center;
}

.cardTitle {
    font-family: heverlyregular-0vdqr;
    font-size: 48px;
    padding: 50px 50px 0px;
}

.iconsPost {
    width: 20px;
    height: 20px;
    margin-top: 40px;
    display: flex;
    cursor: pointer;
}

.iconsPostDiv {
    display: flex;
    justify-content: space-around;
    width: 60px;
}


.descriptionCard {
    font-family: 'Times New Roman', Times, serif;
    width: 305px;
    line-height: 150%;
    padding-left: 50px;
    padding-bottom: 30px;
}

.card {
    background-color: #1E1E1E;
    width: fit-content;
    /* height: fit-content; */
    border-radius: 10px;
    transition: background-color 1.0s ease, color 0.3s ease;

}

.card:hover {
    background-color: #000000;
    color: wheat;
}

.btns {
    position: absolute;
}

/* .grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 0px;
} */
.parentCard {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

.card {
    display: grid;
    place-content: center;
}

.parentGrid {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.postsHeader {
    text-align: center;
    font-family: heverlyregular-0vdqr;
    font-size: 120px;
    margin-top: 10%;
    color: #e7bc85;
}

.subHeading {
    text-align: center;
    font-weight: lighter;
    color: rgb(215, 215, 215);
    padding-bottom: 20px;
}

.topHeadingPost {
    line-height: 50px;
}

.addPostBtn {
    position: fixed;
    left: 88%;
    top: 90%;
    padding: 10px 40px;
    border-radius: 35px;
    background-color: #1E1E1E;
    color: #e7bc85;
    border: 2px solid #e7bc85;
    font-family: Griffin Demo;
    font-size: 18px;
    letter-spacing: 5px;
    transition: background-color 1.0s ease, color 0.3s ease;
}

.addPostBtn:hover {
    background-color: wheat;
    color: #1E1E1E;
}

/* POST CARD */


.ParentPostCard {
    display: flex;
    justify-content: center;
}

.postCard {
    background-color: #131313;
    margin-top: 60px;
    width: fit-content;
    padding: 90px 50px;
    padding-bottom: 50px;
    border-radius: 11px;
}

.TitlePost>h1 {
    text-align: left;
    font-size: 100px;
    font-family: Griffin Demo;
    font-weight: 100;
    letter-spacing: 5px;
}

.postInputs {
    background-color: #212121;
    border: none;
    padding: 20px 0px;
    width: 96%;
    margin-bottom: 20px;
    border-radius: 10px;
    color: wheat;
    padding-left: 20px;
}

.postInputs:focus {
    border: 1px solid #e7bc85;
    outline: #e7bc85;
}

.postTextArea {
    border-radius: 10px;
    border: none;
    background-color: #212121;
    padding: 50px 20px;
    padding-right: 500px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    color: #e7bc85;
}

.postTextArea:focus {
    border: 1px solid #e7bc85;
    outline: #e7bc85;
}

.postSubmitBtn {
    margin-right: 550px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: #1E1E1E;
    color: #e7bc85;
    border: 2px solid #e7bc85;
    font-family: Griffin Demo;
    letter-spacing: 1px;
    font-weight: 600;
    transition: background-color 1.0s ease, color 0.3s ease;
}

.postSubmitBtn:hover {
    background-color: #e7bc85;
    color: black;
}

.postImage {
    position: absolute;
    width: 600px;
    top: 60px;
    left: 630px;
}